name: CI - Build and Push Docker Image to AWS ECR

on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin 161805283818.dkr.ecr.us-east-1.amazonaws.com

      - name: Build and Push Docker Image to ECR
        run: |
          docker buildx build --platform linux/amd64 \
            -t 161805283818.dkr.ecr.us-east-1.amazonaws.com/medilab:v2 \
            -f Dockerfile . \
            --push

  deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Check ssh key
        run: |
          echo "${{ secrets.SSH_KEY }}" > ssh_key.pem
          chmod 600 ssh_key.pem
          cat ssh_key.pem
          ssh -o StrictHostKeyChecking=no -i ssh_key.pem ubuntu@3.84.100.219 "docker pull 161805283818.dkr.ecr.us-east-1.amazonaws.com/medilab:v2"

          
          ssh -o StrictHostKeyChecking=no -i ssh_key.pem ubuntu@3.84.100.219 "docker run -d -p 80:80 161805283818.dkr.ecr.us-east-1.amazonaws.com/medilab:v2"


          
